
:root {
    --body-small-font-family: "DM Sans", Helvetica;
    --body-small-font-size: 16px;
    --body-small-font-style: normal;
    --body-small-font-weight: 400;
    --body-small-letter-spacing: 0.5px;
    --body-small-line-height: 24px;
    --m3-label-medium-font-family: "Roboto", Helvetica;
    --m3-label-medium-font-size: 12px;
    --m3-label-medium-font-style: normal;
    --m3-label-medium-font-weight: 500;
    --m3-label-medium-letter-spacing: 0.5px;
    --m3-label-medium-line-height: 16px;
    --m3-title-medium-font-family: "Roboto", Helvetica;
    --m3-title-medium-font-size: 16px;
    --m3-title-medium-font-style: normal;
    --m3-title-medium-font-weight: 500;
    --m3-title-medium-letter-spacing: 0.15000000596046448px;
    --m3-title-medium-line-height: 24px;
    --neutral-10: rgba(72, 98, 132, 1);
    --neutral-2: rgba(222, 229, 237, 1);
    --background-color: #d9d9d9;
    --sidebar: #ffffff;
    --semibold-60-font-family: "Poppins", Helvetica;
    --semibold-60-font-size: 60px;
    --semibold-60-font-style: normal;
    --semibold-60-font-weight: 600;
    --semibold-60-letter-spacing: 0px;
    --semibold-60-line-height: 30px;
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  
  body {
      font-family: 'Poppins', sans-serif;
  }

  
  #main-structure {
    flex: 1; /* Allow the main structure to grow and push the footer down */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    padding-bottom: 50px; /* Add padding equal to the footer height to prevent overlap */
    box-sizing: border-box;
    background-color: #D9D9D9;
}

 
.navbar {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: #245044;

}

.style-daftar,
  .style-masuk {
      border: none;
      border-radius: 50px;
      color: white ;
      padding: 10px 24px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar a:hover {
  color: #A1D1B6;
  border-bottom: 2px solid #A1D1B6;
}

.auth-buttons button {
  margin-left: 10px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #245044;
  color: #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.auth-buttons button:hover {
  background-color: #15A3A1;
  transform: scale(1.05); 
}


.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5.6rem;
    gap: 20px;
    padding: 1.78rem 0 1.78rem 0;
    /* bg pengajar */
    background: radial-gradient(100% 83.72% at 0% 67.37%, #216C68 0%, #D9D9D9 0.73%, #8AB7B8 33.49%, #1E888C 78.25%, #59A2A4 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

}

.hero-section h2 {
    color: white;
    font-family: var(--semibold-60-font-family);
    font-size: x-large;
}

.hero-section h5 {
    color: #245044;
    font-size: large;
}

.main-content {
    background-color: #D9D9D9;
    display: flex;
    padding: 0.87rem;
}

.side {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
}

@keyframes darkShadeCycle {
    0% {
        background-color: #1E888C;
    }
    25% {
        background-color: #1A7A7E;
    }
    50% {
        background-color: #156D70;
    }
    75% {
        background-color: #125E62;
    }
    100% {
        background-color: #1E888C;
    }
}

.profile {
    animation: darkShadeCycle 3.5s infinite alternate;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.62rem;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.profile img {
    border-radius: 20px;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    max-width: 225px;
    max-height: 225px;
}

.names {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

.names .profile-name {
    display: flex;
    flex-direction: column;
    padding: 0;
    color: white;

}

.names .profile-title {
    display: flex;
    justify-content: center;
    color: white;
}
.profile .add-course {
    /* Button style */
    width: 70%;
    height: 40px;
    margin-bottom: 20px;
    background-color: #216C68;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    font-family: var(--m3-label-medium-font-family);
}

.profile .add-course:hover {
    background-color: #1A534E;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.profile .add-course:active {
    transform: scale(0.95);
    background-color: #143E3B;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navigation {
    background-color: #f8f9fa; 
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.navigation ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}

.navigation li {
    margin-bottom: 10px; 
}

.navigation .section-title {
    font-weight: bold;
    color: #216C68; 
    margin: 15px 0 10px 0; 
    font-size: 14px;
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

.navigation a {
    display: flex; /* Flexbox for icon and text alignment */
    align-items: center; /* Vertically center icon and text */
    text-decoration: none; /* Remove underline */
    color: #333; /* Default text color */
    font-size: 16px; /* Text size */
    padding: 8px 10px; /* Add padding for click area */
    border-radius: 8px; /* Rounded edges for links */
    transition: background-color 0.3s, color 0.3s; 
}

.navigation a:hover {
    background-color: #216C68; 
    color: #fff; 
}

.navigation a i {
    margin-right: 10px; 
    font-size: 18px; 
    color: #216C68; 
    transition: color 0.3s; 
}

.navigation a:hover i {
    color: #fff; 
}

.navigation li:last-child a:hover {
    background-color: #b52b27; 
}

.right-content {
    margin: 0 0 0 20px;
    width: 80%;
}

.header {
    background-color: #156D70;
    padding: 3rem 3rem 1rem 3rem;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.sub-header {
    padding: 1rem 3rem 0 3rem;
    background-color: #156D70;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-left {
    display: flex;
    gap: 50px;
    color: white;
}

.icon {
    font-size: 48px;
    color: #143E3B;
    padding-top: 20px;
}

  .right-content .sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #156D70;
    padding: 1rem 3rem;
    border-style: solid;
    border-top: white;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
  
  .right-content .sub-header .withdraw {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #216C68;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .right-content .sub-header .withdraw:hover {
    background-color: #1A534E;
    transform: scale(1.05);
  }
  
  .right-content .table-record .header-table h2 {
    font-size: 24px;
    margin-bottom: 1rem;
    color: #143E3B;
  }
  
  .withdrawal-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .withdrawal-table thead {
    background-color: #156D70;
    color: white;
  }
  
  .withdrawal-table thead th {
    text-align: left;
    padding: 15px;
    font-weight: bold;
  }
  
  .withdrawal-table tbody td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .withdrawal-table tbody tr:hover {
    background-color: #f9f9f9;
  }
  
  .withdrawal-table .status {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
  
  .withdrawal-table .status.selesai {
    background-color: #28a745;
  }
  
  .withdrawal-table .status.selesai:hover {
    background-color: #218838;
  }

  .withdrawal-table .status.pending {
    background-color: #ffc107;
  }
  
  .withdrawal-table .status.pending:hover {
    background-color: #bd8f07;
  }

  .withdrawal-table .status.gagal {
    background-color: #dc3545;
  }
  
  .withdrawal-table .status.gagal:hover {
    background-color: #92222d;
  }
  /* Modal Background */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px 30px;
  border-radius: 12px;
  width: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.close-btn:hover {
  color: #ff4d4d;
}

/* Modal Header */
.modal-content h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-content p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/* Modal Details */
.modal-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.detail span {
  font-size: 14px;
  color: #666;
}

.detail p {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

#withdrawalForm input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.note {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #888;
  margin-bottom: 20px;
}

.note p span {
  font-size: 14px;
  color: #888;
  margin-right: 5px;
}

.modal-actions {
  display: flex;
  justify-content: space-around;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-submit {
  background-color: #28a745;
  color: white;
}

.btn-cancel {
  background-color: #dc3545;
  color: white;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary {
  padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #216C68;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-image: url('../../../assets/img/bg-footer.png');
    color: white;
    padding: 30px;
  }
  
  footer .grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }

  footer li {
    list-style: none;
  }
  
  footer .footer-logo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  footer .footer-logo img {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
  }
  
  footer .grid div {
    flex: 1;
    margin-bottom: 20px;
  }
  footer .grid h3 {
    font-size: 20px;
    font-weight: bold;
  }
  
  footer .grid a {
    color: white;
    text-decoration: none;
  }
  
  footer .grid a:hover {
    text-decoration: underline;
  }

  footer .grid ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

footer .grid ul li {
    margin-left: 0; 
}

footer .grid h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px; 
}

footer .grid div {
    text-align: left;
}

  