@import "../../style.css";

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
}

.sidebar-icon {
    font-size: 28px;
}

.icon {
    margin-right: 12px;
}

/* Sidebar Styling */
.sidebar {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.sidebar .sidebar-on {
    background-color: #e4e8f0;
    color: #2C8577;
    border-radius: 16px;
}

.sidebar .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 3rem;
}

.sidebar nav ul {
    list-style: none;
    margin-top: 32px;
}

.sidebar nav ul li {
    margin-bottom: 1.5rem;
}

.sidebar nav ul li a {
    display: inline-flex;
    align-items: center;
    font-size: 1.1rem;
    margin-right: 16px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.sidebar nav ul li a:hover {
    color: #2C8577;
}

/* Main Content Styling */
.main-content {
    padding: 30px;
    background-color: #f3f6fb;
    overflow-y: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 2rem;
}

.user-action-logout {
    display: inline-flex;
}

.user-action-logout-logo {
    margin-right: 8px;
}

.profile-widget {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.profile-widget h2 {
    font-size: 1.8rem;
    margin-bottom: 8px;
}

.profile-widget p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.profile-widget a {
    font-weight: bold;
    color: #2C8577;
    text-decoration: none;
}

.sidebar nav ul li {
    margin-bottom: 1.5rem;
    
}

.sidebar nav ul li a {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: #333;
    gap: 16px;
    border-radius: 16px;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar nav ul li a span {
    margin-right: 10px;
}

.sidebar nav ul li a:hover {
    background-color: #e4e8f0;
    color: #2C8577;
    border-radius: 16px;
}

.header-job-created-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-job-created-title a {
    text-decoration: none;
}

.dashboard-counter {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
}

.main-title {
    margin-top: 16px;
}

.counter-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    color: white;
    height: 120px;
    background-color: #2c8577;
    border-radius: 16px;
    padding: 16px;
}

.counter-box-icon {
    font-size: 48px;
}

.text-wrapper {
    font-size: 32px;
}

.common-table {
    width: 100%;
    border-collapse: collapse;
}

.common-table, .common-table th, .common-table td {
    border: 1px solid white;
    padding: 12px;
}

.table-box {
    width: 100%;
    background-color: black;
    color: white;
    padding: 24px;
    border-radius: 16px;
}

.table-title {
    margin-top: 16px;
    margin-bottom: 8px;
}