@import 'style.css';

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(135deg, #8AC7A4, #D4E8DB, #68B19F);
    background-size: 200% 200%;
    animation: gradientAnimation 3s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.main-container {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 1000px;
    height: 700px;
}

.image-section {
    flex: 60%;
    background: linear-gradient(180deg, #d1d9db, #558c8c);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-section img {
    max-width: 500px;
    height: auto;
}

.form-section {
    flex: 40%;
    padding: 20px 30px 20px 30px;
    justify-content: center;
    align-items: center;
}

.form-section h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.form-section-1 {
    flex: 40%;
    padding: 20px 30px 20px 30px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.form-section-1 h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#register,
#login {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#register.hidden,
#login.hidden {
    opacity: 0;
    transform: translateX(100%);
}

.form-section,
.form-section-1 {
    animation: fadeInUp 0.8s ease-out;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 12px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: #245044;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #2C8577;
}

.switch-form {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 14px;
}

.switch-form a {
    color: #245044;
    text-decoration: none;
}

.switch-form a:hover {
    text-decoration: underline;
}

.text-forgot {
    text-align: left;
    margin-bottom: 16px;
}

.text-forgot a {
    color: #245044;
    text-decoration: none;
    font-size: 12px;
}

.text-forgot a:hover {
    text-decoration: underline;
}

.error-message-box {
    font-size: 14px;
    border: 1px solid red;
    color: rgb(156, 62, 62);
    background-color: rgba(239, 23, 23, 0.3);
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 16px;
}

.success-message-box {
    font-size: 14px;
    border: 1px solid green;
    color: rgb(0, 128, 0);
    background-color: rgba(0, 128, 0, 0.3);
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 16px;
}

.tab-container {
    display: flex;
    position: relative;
    margin-top: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.tab {
    flex: 1;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
    background-color: #e0e0e0;
    transition: background-color 0.3s;
}

.tab.active {
    background-color: #15A3A1;
    color: white;
    border-radius: 4px;
}

.tab-container .tab {
    position: relative;
    z-index: 1;
}