@import url('../../style.css');

.navbar {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: #245044;
}

.style-daftar,
.style-masuk {
  border: none;
  border-radius: 50px;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar a:hover {
  color: #A1D1B6;
  border-bottom: 2px solid #A1D1B6;
}

.navbar-info {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
}

.navbar-info-dropdown {
  position: absolute;
  top: 80px;
  right: 48px;
  width: 220px;
  display: block;
  padding: 16px;
  background-color: #005955;
}

.hide {
  display: none;
}

.navbar-info-dropdown a {
  display: block;
  padding: 16px;
}

.navbar-info-dropdown iconify-icon {
  font-size: 24px;
}

.navbar-info-dropdown .navbar-info-dropdown-content {
  display: flex;
  gap: 16px;
}

.auth-buttons button {
  margin-left: 10px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #245044;
  color: #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.auth-buttons .style-daftar {
  background-color: #128e8c;
  padding: 0.5rem 1rem;
}

.auth-buttons .style-daftar:hover,
.style-masuk:hover {
  background-color: #fff;
  transform: scale(1.05);
  color: #15A3A1;
}

#main-structure {
  display: flex;
  flex-direction: column;
}

body {
  background-color: #f5f5f5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b4e4e;
  padding: 20px;
  color: #ffffff;
}

header .logo img {
  width: 100px;
}

header nav a {
  margin: 0 15px;
  color: #ffffff;
  text-decoration: none;
}

header .user-info {
  display: flex;
  align-items: center;
}

header .user-info img {
  margin-left: 10px;
  width: 20px;
}

.profile-section {
  text-align: center;
  background-image: url('../../../assets/img/bg-sertif.png'); 
  background-size: cover;
  padding: 150px 0;
  color: #ffffff;
}

.profile-picture img {
  width: 100px;
  border-radius: 15%;
}

.step-image {
  float: left;
  margin-right: 20px; 
  max-width: 200px;
  height: auto;
}

.step p {
  overflow: hidden; 
}

.tabs-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tabs-section .tab {
  background-color: #e0e0e0;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 20px;
}

.tabs-section .tab.active {
  background-color: #2b4e4e;
  color: #ffffff;
}

.certificates-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.certificate-card {
  background-color: #d9e6e6;
  padding: 20px;
  width: 221px;
  height: 273px;
  text-align: center;
  border-radius: 0px;
}


.certificate-card img {
  max-width: 200px; 
  height: auto;
  margin-top: 10px; 
  padding-bottom: 15px;
  padding-right: 20px;
}


.card-wrapper {
  text-align: center;
  padding: 2rem;
}

.card-wrapper h2 {
  font-family: var(--semibold-60-font-family);
  font-size: var(--semibold-60-font-size);
  color: var(--neutral-10);
  margin-bottom: 2rem;

}
.wrap-head {
  background-color: #d9d9d9;
  margin: 2rem;
  padding: 2rem 2rem 10rem 2rem;
  border-radius: 16px;

}

.card-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 16px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h3 {
  font-family: var(--m3-title-medium-font-family);
  font-size: var(--m3-title-medium-font-size);
  color: var(--neutral-10);
}

.card-header i {
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
}

.card img {
  width: 100%;
  border-radius: 4px;
  margin: 0.5rem 0;
  border-radius: 16;
}

.tabs-section {
    text-align: center;
    margin-bottom: 2rem;
}

.tab {
    padding: 1rem 2rem;
    background-color: #f0f0f0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 1rem;
    transition: background-color 0.3s ease;
}

.tab.active {
    background-color: #2b4e4e;
    color: white;
}

.tab:hover {
    background-color: #d0d0d0;
}

.progress-bar {
  background-color: #cfc6c6;
  height: 8px;
  width: 100%;
  border-radius: 0px;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar .progress {
  background-color: #ffffff;
  height: 100%;
  border-radius: 0px;
}

footer {
  background-image: url('../../../assets/img/bg-footer.png');
  background-size: cover;        
  background-position: center;
  color: #fff;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-content .logo-section p {
  padding-left: 10px;
  margin-top: 10px;
}

.footer-logo {
  width: 100px;
}

.links-section a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.links-section a:hover {
  color: #A1D1B6;
  border-bottom: 2px solid #A1D1B6;
}

.links-section ul {
  list-style: none;
  margin-top: 20px;
  padding-left: 0;
}

.links-section ul li {
  margin: 20px 0;
}

.contact-section p {
  margin: 20px 0;
}

.contact-section i {
  margin-right: 5px;
}

.contact-section a {
  text-decoration: none;        
  color: #fff;
  transition: color 0.3s ease; 
}

.contact-section a:hover {
  color: #A1D1B6;
  text-decoration: underline;
}